body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(135deg, #abdcff, #0396ff);
}

.progress-ring {
}

.progress-ring__circle {
    stroke-width: 4;
    stroke: #ffffff;
    fill: none;
    transform-origin: center;
    transform: rotate(-90deg);
}